$mainTotmato: tomato;
$mainGrey: #ececec;
$mainWhite: #fff;
$mainBlack: #222;
$mainGreen: #5aaf7f;
html {
  font-size: 62.5%;
}

body {
  font-family: "K2D", sans-serif;
  background: $mainWhite;
  color: $mainBlack;
}
